<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="navbar-brand" href="{{path('home')  }}">Accueil</a>
        <li class="nav-item active">
        </li>
            <a class="navbar-brand" href="{{path('profile-affichage')  }}">Mon profil</a>
        </li>
    {% if is_granted('ROLE_ADMIN') %}
        <a class="navbar-brand" href="{{ path('admin-locations') }}">Gestion des lieux</a>
        <a class="navbar-brand" href="{{ path('admin-towns')}}">Gestion des villes</a>
    {% endif %}
    {%  if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <li class="nav-item active">
            <a class="navbar-brand" href="{{path('main-logout')}}">Se déconnecter</a>
        </li>
    {%  else %}
    <a class="navbar-brand" href="{{ path('main-login') }}">Se connecter</a>
    {%  endif%}
    </ul>
</div>