{% extends 'base.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('css/affichageSortie.css') }}">{% endblock %}
{% block main %}
    <div class="container-fluid">
        <h1>{{ sortie.nom }}</h1>
        {% if sortie.motif != null %}
            <h1 class="text-danger">Attention, cette sortie est annulée !</h1>
        {% endif %}

        <div class="col-md-12 blabla ">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-1">
                        <i class="text-danger far fa-calendar-alt" style="font-size: xx-large"></i>
                        </div>
                        <div class="col-md-5">
                            <h6 class="mb-0">Date limite d'inscription:</h6>
                        </div>
                        <div class="col-md-6 text-secondary text-center">
                            {{ sortie.dateCloture|date("d/m/Y") }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-1">
                            <i class="fas fa-users" style="font-size: xx-large"></i>
                        </div>
                        <div class="col-md-5">
                            <h6 class="mb-0">Nombre de places:</h6>
                        </div>
                        <div class="col-md-6 text-secondary text-center">
                            {{ sortie.nbInscriptionMax }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-1">
                            <i class="far fa-calendar-alt" style="font-size: xx-large"></i>
                        </div>
                        <div class="col-md-5">
                            <h6 class="mb-0">Date  et heure:</h6>
                        </div>
                        <div class="col-md-6 text-secondary text-center">
                            {{ sortie.dateDebut|date("d/m/Y H:i") }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-1">
                            <i class="far fa-clock" style="font-size: xx-large"></i>
                        </div>
                        <div class="col-md-5">
                            <h6 class="mb-0">Durée:</h6>
                        </div>
                        <div class="col-md-6 text-secondary text-center">
                            {{ sortie.duree }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-1">
                            <i class="fas fa-info-circle" style="font-size: xx-large"></i>
                        </div>
                        <div class="col-md-5">
                            <h6 class="mb-0">Description et info:</h6>
                        </div>
                        <div class="col-md-6 text-secondary text-center">
                            {{ sortie.commentaire }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-1">
                            <i class="fas fa-map-marker-alt" style="font-size: xx-large"></i>

                        </div>
                        <div class="col-md-5">
                            <h6 class="mb-0">Lieu:</h6>
                        </div>
                        <div class="col-md-6 text-secondary text-center">
                            {{ sortie.lieu.nom }}<hr>
                            {{ sortie.ville.nom }}{{ sortie.ville.codePostal }}<hr>
                            {{ sortie.lieu.adresse }}
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>

            {% if sortie.motif != null %}
                <div class="col-sm-12 col-md-6 col-lg-6 card item  py-3" id="description">
                    <div class="card-icon">
                        <i class="fas fa-times-circle text-danger" style="font-size: xx-large"></i>
                    </div>
                    <span class="col-form-label-lg">Motif d'annulation</span>
                    <span class="col-form-label-lg displayed-data text-danger">{{ sortie.motif }}
                </div>
            {% endif %}
    <div>
            <table class="table table-bordered table-responsive" style="width:100%">
                <thead>
                <tr>
                    <th>Participants</th>
                    <th>Pseudo</th>
                    <th>Nom</th>
                </tr>
                </thead>
                <tbody>
                {% for inscrit in (sortie.inscriptions) %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{inscrit.participant.username}}</td>
                    <td><a href="{{ path('profile-affichage-autre', {id:inscrit.participant.id})}}">{{inscrit.participant.nom}} {{inscrit.participant.prenom}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
    {%  if sortie.etat.id == 1  %}
        {% set dejaInscrit = false %}
        {% for inscrit in (sortie.inscriptions) %}
            {% if inscrit.participant.id == app.user.getId() %}
            {% set dejaInscrit = true %}
            {% endif %}
        {% endfor %}
        {% if not dejaInscrit and sortie.nbInscription < sortie.nbInscriptionMax %}
            <div>
                <a class="btn btn-primary" href="{{ path('sortie-register',{id:sortie.id,sortie:sortie}) }}">S'inscrire</a>
            </div>
        {% elseif dejaInscrit %}
            <div>
                <a class="btn btn-danger" href="{{ path('sortie-withdraw', {id:sortie.id,sortie:sortie}) }}">Se désister</a>
            </div>
            {% endif %}
        {%  endif%}
    </div>
{% endblock %}

